<div class="grid">
    <% @posts.shuffle.each do |post|%>

    <div class="item" style="background-image: url('<%= cl_image_path post.photo.key, crop: :scale %>')">
        <%= link_to 'POST', post_path(post)  %>



        <div class="card-noirfuture">
            <div class='description'>
                <%= post.name.upcase %>
            </div>
        </div>
    </div>
    <% end %>
</div>
