<%= simple_form_for(post) do |f| %>
<%= f.input :photos, as: :file, input_html: { class: 'cloudinary-button'}, input_html: { id: 'upload_widget' } %>

  <%= f.input :description%>
  <%= f.submit %>
<% end %>
  <button id="upload_widget" class="cloudinary-button">Upload files</button>


<!-- label_html: { class: 'cloudinary-button' }, label_html: { id: 'upload_widget' }

 -->
