.grid {
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    padding: 10px;
    margin-top: 20px;
    counter-reset: div
}

.item:nth-child(6n + 4),
.item:nth-child(6n + 1) {
    grid-column: auto /span 2;
    grid-row: auto /span 2;
}

.item {
    display: flex;
    flex-direction: column;
    background-size: cover;

}

.item:before {
    counter-increment: div;
    content: counter(div);
    margin: auto;
    font-size: 40px;
}

.card-noirfuture {
    border-bottom: 1px solid #e3e3e3;
    background-color: white;

}

.description {
    margin-top: 16px;
    margin-bottom: 4px;
    font-size: 13px;
}
