@media (max-width: 1200px) {
  .grid {
    width: 500px;
    margin: 0 auto;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: none;
    grid-auto-rows: 200px;
    padding: 10px;
    margin-top: 20px;
    counter-reset: div;
  }
}

@media (max-width: 768px) {
  .grid {
    width: 90vw;
    grid-gap: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .item {
    display: flex;
    flex-direction: column;
    background-size: 100%;
    background-position: center;
    height: 250px;
  }

  .openbtn {
    visibility: visible !important ;
  }

  .leftpart {
    display: none;
  }

  .rightpart {
    display: none;
  }
  .btn-noirfuture {
    display: none;
  }
}
