.postname {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.category {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  color: #999;
  margin-bottom: 2rem;
}

.client h3 {
  color: #1b1b1b;
  font-family: "Poppins", sans-serif;

  font-weight: 800;

  font-size: 14px;

  letter-spacing: 0.04rem;
}

.division {
  background: #e3e3e3;

  height: 1px;

  width: 100%;
}

.grey-description {
  color: #999999;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.contenu {
  display: flex;
  flex-direction: column;
}

.contenu img {
  max-width: 75%;
  height: auto;
  margin: 0 auto 45px auto;
}

.cover {
  width: 100%;
  object-fit: cover;
  top: 0;
  position: relative;
  bottom: 0;
  object-position: top;
  max-width: 75%;
  display: flex;
  margin: 0 auto 45px auto;
}
